body{
    margin:0px;
    padding:0px;
}
*{
    font-family:Arial, Helvetica, sans-serif;
}

.partone{
    background-color: #1F2937;
    padding: 0 300px 150px 300px;
    margin:0;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom:70px;
}

.logo img{
    align-self: center;
    height:100px;
    width:auto;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    gap: 20px;
}


a {
    text-decoration:none;
    font-size: 18px;
    color: #E5E7EB;
}

.intro{
    display: flex;
    justify-content: space-between;
}

.wow{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.title{
    font-size: 48px;
    color: #F9FAF8;
    font-weight:bolder;
    flex-wrap: wrap;
    max-width: 300px;
}

.words{
    font-size: 18px;
    color: #E5E7EB;
    max-width:400px;
    flex-wrap: wrap;
}

.wow button {
    border: none;
    border-radius: 8px;
    background: #3882F6;
    color:#F9FAF8;
    padding: 10px 34px;
    font-weight: bold;
    font-size: 17px;
}

.right img{
    height: 300px;
    width: auto;
}

.titletwo{
    font-size:36px;
    font-weight:bolder;
    color:#1F2937;
    margin-top:30px;
    text-align:center;
    margin-bottom: 32px;
}

.parttwo{
    text-align:center;
    display: flex;
    justify-content: center;
    gap: 52px;
    margin-bottom: 90px;
}

.info{
    max-width:200px;
}

.info img{
    height: 100px;
    width: 100px;
    border:5px solid #3882F6;
    border-radius:8px;
}

.partthree{
    background-color: #E5E7EB;
    height: 200px;
    width: auto;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quotebox{
    display:flex;
    flex-direction:column;
}

.quoteprovider{
    align-self:flex-end;
    font-size:28px;
    color:#1F2937;
    font-weight:bold;
}

.quote{
    font-style:italic;
    font-size:36px;
}

.partfour{
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 70px;
}

.box{
    display: flex;
    padding: 50px 200px;
    background-color:#306ed3;
    border-radius:15px;
    gap:100px;
}

.time{
    font-size:24px;
    font-weight:bold;
    color:aliceblue;
}

.below{
    font-size:17px;
    color:#E5E7EB;
}

.butt button{
    font-weight:bold;
    color:#F9FAF8;
    background-color:#306ed3;
    border: solid 2px #E5E7EB;
    font-size: 20px;
    border-radius:13px;
    padding: 10px 35px;
}

.footer{
    display:flex;
    background-color:#1F2937;
    justify-content: center;
    align-items: center;
    height: 100px;
    width:auto;
}

.sig{
    font-size: 18px;
    color:#E5E7EB;
}